.outer-container {
  display: flex;
  flex-direction: row;
  /*  background-image: url("../assets/bkg-1.jpeg"); */
  background-image: url("../../assets/bkg-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-section {
  width: 28%;
  height: 92vh;
  /*  border: red solid 2px; */
  margin: 30px 0px 0px 30px;
  border-radius: 30px 30px;
  /*  background-image: url("../assets/bkg-5.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.app-img {
  width: 70%;
  height: 85%;
  margin: 100px auto;
  /*  margin: auto; */
  background-color: black;
  border-radius: 30px 30px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  /* border: pink solid 1px; */
}
/* .app-img div {
  height: 50%;
} */
.upper-sec {
  height: 40%;
  background-color: black;
  border-radius: 30px;
  color: white;
}
.welcome-1,
.story-heading {
  /* border: green solid 2px; */
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
}
.welcome-1 div img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.stories {
  /* border: green solid 2px; */
  display: flex;
  justify-content: space-around;
  margin: 5px 10px;
}
.story-no {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stories div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.lower-sec {
  background-color: white;
  border-radius: 30px;
  height: 60%;
}
.contacts-container {
  /* border: brown solid 3px; */
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: pink solid 2px; */
  /*  */
  /* overflow: hidden; */
}
.Message-text {
  flex: 1; /* Allow the text to grow and take up remaining space */
  /*  overflow: hidden;
  height: 60px;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.Message-text p {
  margin: 0;
  padding: 0 20px;
}

/* .contacts div {
  width: 10px;
} */
.contacts img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.Message-text {
  display: flex;
  flex-direction: column;
  /* border: aqua solid 1px; */
}
.Message {
  /* border: green solid 1px; */
  color: #b9bbc1;
}
.app-img:hover {
  /* transform: rotateX(45deg) rotateY(45deg) rotateZ(-45deg); */
  transform: scale3d(1.1, 1.1, 1.1);
}

.text-section {
  width: 70%;
  min-height: 100vh;
  /* background-image: url("../assets/bkg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}
.main-text {
  margin-left: 100px;
  margin-top: 0.4em;
  font-size: 3.5em;
  font-weight: 500;
  color: #009688bd;
  letter-spacing: 3px;
  /* display: flex;
  flex-direction: column; */
}
.main-text {
  transform: translate(3000px);
  animation: main 4s ease-in-out;
  animation-fill-mode: forwards;
}
.sub-text {
  margin-left: 100px;
  margin-top: 40px;
  font-size: 1.5rem;
  color: #b9bbc1;
}
.sub-text {
  transform: translate(-2000px);
  animation: sub-txt 4s ease-in-out;
  animation-fill-mode: forwards;
}
.stats {
  transform: translate(-1000px);
  animation: stats 2s ease-in-out;
  animation-fill-mode: forwards;
}
.btn-X {
  margin-left: 100px;
  margin-top: 40px;
  animation: parabolicX 3s ease-out 1.8s;
  animation-fill-mode: forwards;
  transform: translateX(-600px);
}
.btn-btn-Y {
  transform: translateY(-600px); /* rotate(-180deg); */

  animation: parabolicY 3s /* s */ 1.8s ease-in, glowing 1300ms infinite 4.8s;
  /* cubic-bezier(0.82, 0.2, 0.4, 0.96) */
  animation-fill-mode: forwards;
}
.btn-btn-Y {
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  border-radius: 30px;
  padding: 4px 10px;
  background-color: #e1d3fc;
  color: #2e3149;
}
.stats {
  margin-left: 100px;
  margin-top: 40px;
  width: 40%;
  /* border: brown solid 3px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.stat-no {
  font-size: 1.5em;
  font-weight: 500;
  color: rgb(19, 21, 20);
}
.stat-text {
  font-size: 1.2em;

  color: rgb(149, 151, 153);
}
.navbar {
  width: 100%;
}

@keyframes main {
  0% {
    transform: translateX(3000px);
  }
  30% {
    transform: translate(-300px);
  }
  45% {
    transform: translate(0px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes sub-txt {
  0% {
    transform: translateX(-3000px);
  }
  30% {
    transform: translate(300px);
  }
  45% {
    transform: translate(0px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes stats {
  0% {
    transform: translateY(1000px);
  }
  /* 50% {
    transform: translate(-300px);
  }
  60% {
    transform: translate(0px);
  } */
  90% {
    transform: translate(0px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes parabolicX {
  0% {
    transform: translateX(-600px) /* rotate(-180deg) */;
    /* transform: rotate(180deg); */
  }
  50% {
    /* animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1); */
    transform: translateX(-200px) /* rotate(-90deg) */;
    /* transform: rotate(90deg); */
  }
  100% {
    /*  animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1); */
    transform: translateX(0px) /* rotate(0deg) */;
    /* transform: rotate(0deg); */
  }
}
@keyframes parabolicY {
  0% {
    transform: translateY(-600px) rotate(-180deg);
  }
  50% {
    /*  animation-timing-function: cubic-bezier(0.82, 0.2, 0.4, 0.96); */
    transform: translateY(-200px) rotate(-90deg);
  }
  100% {
    /*  animation-timing-function: cubic-bezier(0.82, 0.2, 0.4, 0.96); */
    transform: translateY(0px) rotate(-0deg);
  }
}
@keyframes glowing {
  0% {
    background-color: #009688 /* #009688 */;

    box-shadow: 0 0 5px #009688 /* #2ba805 */;
  }
  50% {
    background-color: #009688a8;
    box-shadow: 0 0 20px #009688a8 /* #49e819 */;
  }
  100% {
    background-color: #009688 /* #009688 */;

    box-shadow: 0 0 5px #009688 /* #2ba805 */;
  }
}
