.sidebar {
  width: 45%;
  min-height: 100vh;
  border: aqua solid 3px;
  background-color: beige;
  padding-left: 15px;
}
.contact-list {
  border: turquoise solid 2px;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  /*  justify-content: space-between; */
}
.contact {
  display: flex;
  flex-direction: row;

  width: 100;
  border: hotpink solid 1px;
  height: 100px;
  padding: 10px 5px;
}
.contact-img {
  width: 15%;
  border: brown solid 1px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.contact-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.contact-name {
  width: 80%;
  cursor: pointer;
  border: red solid 1px;
  padding-left: 10px;
  font-size: 1.3rem;
}
